<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>分布式水位态势感知预警系统</title>
    <style th:replace="common::common_header"></style>
    <link rel="stylesheet" href="/css/history-detail.css" th:href="@{/static/css/history-detail.css}">
</head>
<body>
<!--导航栏-->
<div th:replace="common::header"></div>
<!--侧边栏-->
<!--<div th:replace="common::slider"></div>-->

<div id="main-content">
    <div class="outBox">
        <div class="leftContent">
            <div class="myEchartsOut">
                <div class="myEchartsTitle">
                    <span class="myEchartsTitleSpan">历史水位</span>
                </div>
                <div class="myEcharts" id="myFirstEcharts"></div>
            </div>
            <div class="myEchartsOut">
                <div class="myEchartsTitle">
                    <span class="myEchartsTitleSpan">历史温度</span>
                </div>
                <div class="myEcharts" id="mySecondEcharts"></div>
            </div>
            <div class="myEchartsOut">
                <div class="myEchartsTitle">
                    <span class="myEchartsTitleSpan">历史湿度</span>
                </div>
                <div class="myEcharts" id="myThirdEcharts"></div>
            </div>
        </div>
        <div class="rightContent">
            <div class="oneLine">
                <div class="lineTitle">
                    <span class="lineTitleSpan">项目简介</span>
                </div>
                <div class="lineContent">
                    <p>本装置为：[[${devId}]]</p>
                    <p>经纬度：11.2 442.5</p>
                    <p>检测范围：20.3m^2</p>
                    <p>尺寸信息：1923.063m</p>
                    <p>倾角：8°</p>
                </div>
            </div>
            <div class="oneLine">
                <div class="lineTitle">
                    <span class="lineTitleSpan">设备状态</span>
                </div>
                <div id="macStatus"></div>
            </div>
        </div>
    </div>
</div>
<div class="noneBox" style="display: none">
    <span th:text="${devId}" id="devId"></span>
</div>
</body>
<!--<script src="/static/js/echarts.min.js" th:src="@{/static/js/echarts.min.js}" type="text/javascript"></script>-->
<!--<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js" type="text/javascript"></script>-->
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/echarts/5.3.0-rc.1/echarts.min.js" type="text/javascript"></script>

<script src="/static/js/history-detail.js" th:src="@{/static/js/history-detail.js}" type="text/javascript"></script>
</html>