<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>用户登录</title>

    <link href="css/style.css" rel="stylesheet" th:href="@{/static/css/login.css}">
<!--    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="css/semantic-ui/semantic.min.css" th:href="@{/static/css/semantic-ui/semantic.min.css}">-->
    <link href="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">

</head>

<body class="login-body">

<div class="container">
    <form action="/login" class="form-signin" id="form-login" method="post" th:action="@{/login}">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">系统登录</h1>
        </div>
        <div class="login-wrap">
            <div class="labelBox">
                <div class="remindLabel" id="remindLoginNameLabel" style="display: block!important;" th:text="${errorInfo}"></div>
                <div class="remindLabel" id="remindLoginPasswordLabel">用户名或密码不能为空</div>
            </div>
            <input autofocus class="form-control" id="login-userName" name="userName" placeholder="User ID" type="text">
            <input class="form-control" id="login-password" name="password" placeholder="Password" type="password">

            <div class="btn btn-lg btn-login btn-block" id="form-login-submit">
                <i class="heart outline icon"></i>
            </div>

            <label class="checkbox">
                <input name="remember" type="checkbox" value="remember"> 记住我
                <span class="pull-right">
                </span>
            </label>

        </div>
    </form>

</div>

<!--<script type="text/javascript" src="js/jquery-3.6.0.min.js" th:src="@{/static/js/jquery-3.6.0.min.js}"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" type="text/javascript"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" type="text/javascript"></script>-->
<!--<script type="text/javascript" src="js/modernizr.min.js" th:src="@{/static/js/modernizr.min.js}"></script>-->

<script src="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/modernizr/2010.07.06dev/modernizr.min.js" type="text/javascript"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/semantic-ui/2.4.1/semantic.min.js" type="text/javascript"></script>

<!--<script type="text/javascript" src="js/semantic.js" th:src="@{/static/js/semantic.js}"></script>-->
<script type="text/javascript" src="js/login.js" th:src="@{/static/js/login.js}"></script>

<script>
    $(function (){
        $(".form-signin").stop().fadeIn(1000)
    })
</script>

</body>
</html>
